html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 {
  line-height: 1;
  float: right;

}
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.headline{
  margin-top: 8%;
}

.chatbox{
  height: 500px;
}
.chatline{
  float: right;
  position: relative;
  width: 50%;
  height: 100%;
  margin-left: 2%;
}

.info{
  float: left;
  width: 45%;
  height: 100%;
  border-width:3px;
  border-style:dashed;
  border-color:#FFAC55;
  padding:5px;
}
.public{
  margin-left: 120px;
}
/* SNOWY */
.snowy {
	animation: snowy 5s ease-in-out infinite 1s;
	background: #FFFFFF; 
	border-radius: 50%;
	box-shadow: 
		#FFFFFF 65px -15px 0 -5px, 
		#FFFFFF 25px -25px, 
		#FFFFFF 30px 10px, 
		#FFFFFF 60px 15px 0 -10px, 
		#FFFFFF 85px 5px 0 -5px;
	display: block;
	height: 48px;
	width: 48px;
	/*margin-left: -60px;*/
	/*position: absolute;
	left: 1112px;
  top: 70px;*/
}
.snowy:after {
	animation: snowy_shadow 5s ease-in-out infinite 1s;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 15px;
	width: 120px;
	opacity: 0.2;
	/*position: absolute;
	left: 8px;
	bottom: -60px;*/
	transform: scale(1);
}
.snowy:before {
	animation: snowy_snow 2s infinite linear;
	content: '';
	border-radius: 50%;
	display: block;
	height: 7px;
	width: 7px;
	opacity: 0.8;
	transform: scale(.9);
}
@keyframes snowy {
	50% { transform: translateY(-20px); }
}
@keyframes snowy_shadow {
	50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
}
@keyframes snowy_snow {
	0% {  
		box-shadow: 
			rgba(238,238,238,0) 30px 30px, 
			rgba(238,238,238,0) 40px 40px,  
			#EEEEEE 50px 75px, 
			#EEEEEE 55px 50px, 
			#EEEEEE 70px 100px, 
			#EEEEEE 80px 95px, 
			#EEEEEE 110px 45px, 
			#EEEEEE 90px 35px; 
	}
	25% {  
	  	box-shadow: 
			#EEEEEE 30px 45px,
			#EEEEEE 40px 60px,
			#EEEEEE 50px 90px,
			#EEEEEE 55px 65px,
			rgba(238,238,238,0) 70px 120px,
			rgba(238,238,238,0) 80px 120px,
			#EEEEEE 110px 70px,
			#EEEEEE 90px 60px;
	}
	26% {  
		box-shadow:
			#EEEEEE 30px 45px,
			#EEEEEE 40px 60px,
			#EEEEEE 50px 90px,
			#EEEEEE 55px 65px,
			rgba(238,238,238,0) 70px 40px,
			rgba(238,238,238,0) 80px 20px,
			#EEEEEE 110px 70px,
			#EEEEEE 90px 60px; 
	}
	50% { 
		box-shadow:
			#EEEEEE 30px 70px,
			#EEEEEE 40px 80px,
			rgba(238,238,238,0) 50px 100px,
			#EEEEEE 55px 80px,
			#EEEEEE 70px 60px,
			#EEEEEE 80px 45px,
			#EEEEEE 110px 95px,
			#EEEEEE 90px 85px;
	}
	51% {
		box-shadow:
			#EEEEEE 30px 70px,
			#EEEEEE 40px 80px,
			rgba(238,238,238,0) 50px 45px,
			#EEEEEE 55px 80px,
			#EEEEEE 70px 60px,
			#EEEEEE 80px 45px,
			#EEEEEE 110px 95px,
			#EEEEEE 90px 85px;
	}
	75% {
		box-shadow:
			#EEEEEE 30px 95px,
			#EEEEEE 40px 100px,
			#EEEEEE 50px 60px,
			rgba(238,238,238,0) 55px 95px,
			#EEEEEE 70px 80px,
			#EEEEEE 80px 70px,
			rgba(238,238,238,0) 110px 120px,
			rgba(238,238,238,0) 90px 110px;
	}
	76% {
		box-shadow:
			#EEEEEE 30px 95px,
			#EEEEEE 40px 100px,
			#EEEEEE 50px 60px,
			rgba(238,238,238,0) 55px 35px,
			#EEEEEE 70px 80px,
			#EEEEEE 80px 70px,
			rgba(238,238,238,0) 110px 25px,
			rgba(238,238,238,0) 90px 15px;
	}
	100% {
		box-shadow:
			rgba(238,238,238,0) 30px 120px,
			rgba(238,238,238,0) 40px 120px,
			#EEEEEE 50px 75px,
			#EEEEEE 55px 50px,
			#EEEEEE 70px 100px,
			#EEEEEE 80px 95px,
			#EEEEEE 110px 45px,
			#EEEEEE 90px 35px;
	}
}




span{
  display:inline-block;
}
#Circle{
  background-color:#22304D;
  background:linear-gradient(to bottom, #22304D,#5E7B9B);
  width:500px;
  height: 500px;
  border-radius:100%;
  margin:0 auto;
  position: relative;
  z-index: 1;
  overflow:hidden;
}
#Circle #cont{
  background-color:transparent;
  width:500px;
  height:500px;
  border-radius:100%;
  margin:0 auto;
  box-shadow:inset 0 0 100px black;
}
#Circle #cont .top{
  height:250px;
  position:relative;
  background-color:transparent;
  border-top-left-radius:900px;
  border-top-right-radius:900px;
  
}
.bottom{
  display: inline-block;
  position:relative;
  margin-top:390px;
  opacity:0.6;
  filter: blur(2px);
  transform:scaleY(-1);
  
}
.floor{
  background-color:#1E2D49;
  width:468px;
  margin-left:16px;
  position:absolute;
  height:20px;
  margin-top:320px;
  z-index:0;
}
.floor::after{
  content:"";
  background-color:#1E2D49;
  width:200px;
  height:50px;
  position:absolute;
  transform:rotateX(45deg);
  margin-top:-30px;
  margin-left:-3px;
  border-radius:90% 100% 0 0;
}
.floor::before{
  content:"";
  background-color:#1E2D49;
  width:200px;
  height:50px;
  position:absolute;
  transform:rotateX(45deg);
  border-radius:90% 100% 0 0;;
  width:347px;
  height:70px;
  position:absolute;
  transform:rotateX(45deg);
  margin-left:122px;
  margin-top:-50px;
  border-radius:100% 100% 0 0;
}
.sky{
  
}
.moon{
  background-color:white;
  width:48px;
  height:48px;
  z-index:2;
  border-radius:100%;
  position:absolute;
  margin-left:130px;
  margin-top:180px;
  box-shadow:0 0 5px white, 0 0 10px #1E2D49, 0 0 90px white;
}
.stars{
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 width:100%;
 height:100%;
 display:block;
}
.stars {
 background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
 z-index:0;
}

.mill{
  background-color:#1E2D49;
  width: 50px;
  height: 140px;
  transform: perspective(12px) rotateX(3deg);
  position:absolute;
  z-index:3;
  margin-top:150px;
  margin-left:330px;
}
.mill::before{
  content:"";
  background-color:#FDC500;
  width:20px;
  height:20px;
  position:absolute;
  margin-left:15px;
  margin-top:35px;
}
.mill::after{
  content:"";
  background-color:#FDC500;
  width:20px;
  height:25px;
  position:absolute;
  margin-left:15px;
  margin-top:70px;
}
.dome{
  background-color:#1E2D49;
  width:35px;
  height:35px;
  position:absolute;
  transform-origin: 0 100%;        
  transform: rotate(45deg);
  overflow:hidden;
  margin-left:330px;
  margin-top:125px;
  z-index:4;
}
.fan{
  background-color:#37475E;/*37475E */
  width:10px;
  height:10px;
  border-radius:100%;
  position:absolute;
  margin-top:155px;
  margin-left:350px;
  z-index:7;
  animation-name:rotate_fan;
  animation-duration:6s;
  animation-iteration-count:infinite;
}
.fan_blade1, .fan_blade2, .fan_blade3, .fan_blade4{
  background-color:#37475E;
  width:4px;
  height:60px;
  position:absolute;
  z-index:6;
  margin-left:35px;
  margin-top:-28px;
  border-left:1.5px solid black;
  border-top:1px solid black;
  transform:rotate(90deg);
}
.fan_blade2{
  transform:rotate(180deg);
  margin-left:1px;
  margin-top:5px;
}
.fan_blade3{
  transform:rotate(360deg);
  margin-left:3px;
  margin-top:-60px;
}
.fan_blade4{
  transform:rotate(270deg);
  margin-top:-28px;
  margin-left:-30px;
}
.fan_blade1::before, .fan_blade2::before, .fan_blade3::before, .fan_blade4::before{
  content:"";
  background-color:transparent;
  width:20px;
  height:45px;
  margin-left:5px;
  background-size: 10px 11px;
  background-image: linear-gradient(to left, gray 2px, transparent 1px), linear-gradient(to bottom, gray 2px, transparent 1px), linear-gradient(to top, gray 1px, transparent 0px);
  position:absolute;
}
.tree1, .tree2, .tree3{
  background-color:transparent;
  width:30px;
  height:40px;
  position:absolute;
  margin-left:10px;
  margin-top:-80px;
  z-index:9;
  width:0;
  height:10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 70px solid #1E2D49;
}
.tree2{
  margin-left:30px;
  transform:rotate(10deg);
}
.tree3{
  margin-left:60px;
}
.tree3::after{
  content:"";
  background-color:#1E2D49;
  width:40px;
  height:50px;
  position:absolute;
  margin-left:-18px;
  margin-top:-10px;
  border-radius:100%;
}
@keyframes rotate_fan{
  from{
     
  }
  to{
     transform:rotate(360deg);
  }
}

.total_fan{
  float: left;
  width: 55%;
  height: 100%;
  border-width:3px;
  margin-top: 5%;
  padding:5px;
}
.chatline{
  float: right;
  position: relative;
  width: 40%;
  height: 100%;
  margin-left: 1%;
}

@media (max-width: 995px){
  .chatline{
    width: 100%;
    height: 100%;
    margin-left: 1%;
  }

  .total_fan{
    width: 100%;
    height: 100%;
    border-width:3px;
    padding:5px;
  }
}